<h1>Pages#batman</h1>
<p>Find me in app/views/pages/batman.html.erb</p>

<!--<img src="<%= asset_path 'batman.jpg' %>">-->

<div id="container">
  <script>
$.backstretch("<%= asset_path 'batman.jpg' %>");
//$.backstretch("assets/images/batman.jpg");
 </script>
  <p id="text">
   I am Batman
  </p>
</div>

