

<!--<img src="<%= asset_path 'batman.jpg' %>">-->

<div id="container">
  <script>
$.backstretch("<%= asset_path 'batman.jpg' %>");
//$.backstretch("assets/images/batman.jpg");
 </script>
  <p id="text">
   I am Batman
  </p>
</div>

<form method="">
  <p style="color:white">Heroe:</p>
  <input type="text" name="heroe"><br>
  <p style="color:white">Email:</p>
  <input type="text" name="email"><br><br>
  <input type="submit" value="Submit">
</form>	

