<ion-view>
  <div class="row" >

    <div class="col col-50">
        
        <%= link_to image_tag('batman.jpg', style:"width:100%"), "https://es.wikipedia.org/wiki/Batman" %>
    	
    </div>

    <div class="col col-50">
        <%= link_to image_tag('superman.jpg', style:"width:100%"), "https://es.wikipedia.org/wiki/Superman" %>
    </div>

   </div>
</ion-view>