

<!--<img src="<%= asset_path 'batman.jpg' %>">-->

<div id="container">
  <script>
$.backstretch("<%= asset_path 'superman.jpg' %>");
//$.backstretch("assets/images/batman.jpg");
 </script>
  <p id="text">
   This looks like a job for Superman
  </p>
</div>