

<!--<img src="<%= asset_path 'batman.jpg' %>">-->

<div id="container">
  <script>
$.backstretch("<%= asset_path 'superman.jpg' %>");
//$.backstretch("assets/images/batman.jpg");
 </script>
  <p id="text">
   This looks like a job for Superman
  </p>
</div>


<form method="">
  <p style="color:black">Heroe:</p>
  <input type="text" name="heroe"><br>
  <p style="color:black">Email:</p>
  <input type="text" name="email"><br><br>
  <input type="submit" value="Submit">
</form>	

